<section id="inicio" class="hero">
  <h1>
    <span data-translate="hero_sol">Soluções Online</span>&nbsp;<span class="typewriter-text"></span>
  </h1>

  <p data-translate="hero_desc">Instalação remota profissional.</p>

  <div class="hero-slider-container">
    <div class="slider-track">
      <span class="brand-item">Mercedes</span><span class="brand-item">BMW</span><span class="brand-item">Audi</span><span class="brand-item">VW</span>
      <span class="brand-item">Porsche</span><span class="brand-item">JLR</span><span class="brand-item">Toyota</span><span class="brand-item">Ford</span>
      <span class="brand-item">GM</span><span class="brand-item">Mercedes</span><span class="brand-item">BMW</span><span class="brand-item">Audi</span><span class="brand-item">VW</span>
    </div>
  </div>
</section>


